<style type="text/css">
		#vm,#mm,#ppn,#vpn,#valid,#dirty{
			background-color: lightgray;
			width : 62px;
			height : 300px;
			overflow: scroll;
		}
		#explanation{
			background-color: lightblue;
			width : 100%;
			height : 335px;
			overflow: scroll;
		}
		#recent_history{
			background-color: lightblue;
			width : 300px;
			height : 400px;
			overflow: scroll;
		}
		.truncate_virtualmem{
			max-width:80%;
  			display:inline-block;
  			white-space:nowrap;
  			overflow:hidden;
  			text-overflow:ellipsis;
		}
		.truncate_mainmem{
			max-width:80%;
  			display:inline-block;
  			white-space:nowrap;
  			overflow:hidden;
  			text-overflow:ellipsis;
		}
		.truncate_pagesize{
			max-width:60%;
  			display:inline-block;
  			white-space:nowrap;
  			overflow:hidden;
  			text-overflow:ellipsis;
		}
		.truncate_replacementpolicy{
			max-width:80%;
  			display:inline-block;
  			white-space:nowrap;
  			overflow:hidden;
  			text-overflow:ellipsis;
		}
		.truncate_pagelevel{	
			max-width:800%;
  			display:inline-block;
  			white-space:nowrap;
  			overflow:hidden;
  			text-overflow:ellipsis;
		}
		input[type=text] {
		  width: 70%;
		}
		.one{
			display:grid;
			grid-template-columns: 20% 50% 30%;
			grid-gap: 10px;
			background-color: #2196F3;
			padding: 10px;
		}
		.two{
			display:grid;
			grid-template-rows: auto auto auto;
			grid-gap: 5px;
			background-color: #2196F3;
			padding: 5px;
		}
		.three_1{
			display:grid;
			grid-template-rows: auto auto auto auto;
			grid-gap: 5px;
			background-color: #f2f2f2;
			padding: 10px;
		}
		#s-2{
			grid-gap: 0px;
			padding: 0px;
			display: grid;
			grid-template-columns: 33% 33% 33%;
		}
		#s-1{
			grid-gap: 0px;
			padding: 0px;
			display: grid;
			grid-template-columns: 50% 50%;
		}
		#s-3{

			display: grid;
			grid-template-columns: auto auto auto;
  			grid-gap: 0px;
  			padding: 0px;
		}
		#s-4{

			display: grid;
			grid-template-columns: auto auto;
  			grid-gap: 0px;
  			padding: 0px;
		}
		.two_2{
			display: grid;
			grid-template-columns: 40% 40% 20%;
			grid-template-rows:auto auto auto;
 		 	grid-gap: 2px;
  			background-color:  rgba(255, 255, 255, 0.8);
			padding: 5px;
		}
		.item1{
			grid-column: 1;
  			grid-row: 1;
		}
		.item2{
			grid-column: 2;
  			grid-row: 1;
		}
		.item3{
			grid-column: 3;
  			grid-row: 1;
		}
		.item4{
			grid-column: 1/ span 3;
  			grid-row: 2;
		}
		.item5{
			grid-column: 1/span 3;
			grid-row: 3;
		}
		.three_2_2{

			display: grid;
			grid-template-columns: 13% 26% 20% 41%;
  			grid-gap: 10px;
  			background-color: white;
  			padding: 10px;
		}

	</style>