<html><head><!--Google Tag Manager--><script class="gtm">(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-W59SWTR');</script><!--End Google Tag Manager--></head><body><!--Google Tag Manager (noscript)--><noscript class="gtm"><iframe height="0" src="https://www.googletagmanager.com/ns.html?id=GTM-W59SWTR" style="display:none;visibility:hidden" width="0"></iframe></noscript><!--End Google Tag Manager (noscript)-->{{extend 'layout.html'}}
<script>$=jQuery</script>
<link href="{{=URL(r=request,c='static',f='jqueryMultiSelect.css')}}" rel="stylesheet" type="text/css"/>
<script src="{{=URL(r=request,c='static',f='jqueryMultiSelect.js')}}"></script>
<script>
function callback() {
  $.get('{{=URL(r=request,f='callback')}}','',function(data,status){ if(data!='<done/>') { $('#target').html($('#target').html()+data); callback(); } });
}
$(document).ready(function() {
   $('#applications').multiSelect({selectAll: false});
   callback();
});
</script>

<h1>Google App Engine Deployment Interface</h1>
{{if command:}}
<h3>Command</h3>
<button onclick="$.get('{{=URL(r=request,f='kill')}}');">kill process</button>
{{=CODE(command)}}
<h3>GAE Output</h3>
<pre id="target"></pre>
{{else:}}
<h3>Deployment form</h3>
{{=form}}
<i>Attention: deployment may take long time, depending on the network speed. DO NOT SUBMIT TWICE.</i>
{{pass}}
</body></html>