<html><head><!--Google Tag Manager--><script class="gtm">(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-W59SWTR');</script><!--End Google Tag Manager--></head><body><!--Google Tag Manager (noscript)--><noscript class="gtm"><iframe height="0" src="https://www.googletagmanager.com/ns.html?id=GTM-W59SWTR" style="display:none;visibility:hidden" width="0"></iframe></noscript><!--End Google Tag Manager (noscript)-->{{extend 'layout.html'}}

<center>
<h2>{{=T('Are you sure you want to delete file "%s"?', filename)}}</h2>
<table><tbody><tr>
<td>{{=FORM(INPUT(_type='submit',_name='nodelete',_value=T('NO')),INPUT(_type='hidden',_name='sender',_value=sender))}}</td>
<td>{{=FORM(INPUT(_type='submit',_name='delete',_value=T('YES')),INPUT(_type='hidden',_name='sender',_value=sender))}}</td>
</tr></tbody></table>
</center>
</body></html>