<html><head><!--Google Tag Manager--><script class="gtm">(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-W59SWTR');</script><!--End Google Tag Manager--></head><body><!--Google Tag Manager (noscript)--><noscript class="gtm"><iframe height="0" src="https://www.googletagmanager.com/ns.html?id=GTM-W59SWTR" style="display:none;visibility:hidden" width="0"></iframe></noscript><!--End Google Tag Manager (noscript)-->{{extend 'layout.html'}}

	
		<script src="{{=URL(request.application,'static','js/jquery-1.4.2.min.js')}}" type="text/javascript"></script>
	        <script language="javascript" src="{{=URL(request.application,'static','jquery.jqplot.min.js')}}" type="text/javascript"></script>
	        <link href="{{=URL(request.application,'static','jquery.jqplot.css')}}" rel="stylesheet" type="text/css"/>
		<script type="text/javascript">
			
			$(document).ready(function(){
					plot1 = $.jqplot('graph1', {{=ans1}},{axes:{xaxis:{ticks:{{=xticks}}}}});
					plot2 = $.jqplot('graph2', {{=ans2}},{axes:{xaxis:{ticks:{{=xticks}}}}});
					plot3 = $.jqplot('graph3', {{=ans3}},{axes:{xaxis:{ticks:{{=xticks}}}}});
					plot = $.jqplot('graph', {{=ans}},{axes:{xaxis:{ticks:{{=xticks}}}}});
			  });
		  </script>

	

	
		<table width="90%">
			<tbody><tr>
				<th style="color:brown" width="30%"> I1 Hit % </th>
				<th style="color:brown" width="30%"> D1 Hit % </th>
				<th style="color:brown" width="30%"> L2 Hit % </th>
			</tr>
			<tr>
				<td><div id="graph1" style="height:400 px;width:300px"> </div> <h4 style="text-align:center">I1 Associativity</h4></td>
				<td><div id="graph2" style="height:400 px;width:300px"> </div><h4 style="text-align:center"> I1 Associativity</h4></td>
				<td><div id="graph3" style="height:400 px;width:300px"> </div><h4 style="text-align:center"> I1 Associativity</h4></td>
			</tr>
			<tr>
				<td></td>
				<td>
					<br/><br/><h2 style="text-align:center;color:brown"> All Together </h2> <div id="graph" style="height:400 px; width:300px"> </div><h4 style="text-align:center">I1 Associativity</h4> </td>
				<td></td>
			</tr>
		</tbody></table>
	

</body></html>