.dropbtn {
  cursor: pointer;
}
.hoverdropdown:hover .dropdown-content{
  display: block;
}
.dropbtn:hover, .dropbtn:focus {
  background-color: #969696;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  overflow: auto;
  z-index: 1;
}

.dropdown button:hover {background-color: #969696;}

.show {display: block;}
.wrapper{
      display:grid;
      
      grid-template-columns:20% 80%;
      grid-gap:1em;
      grid-auto-rows: minmax(100px, auto);
    }  
.wrapper_execute{
  display: grid;
  grid-template-columns:2fr 1fr 2fr;
  grid-gap:1em;
  grid-auto-rows: minmax(6em, auto);
}     
.box1{

} 
.box2{
  grid-column: 2/3;
  grid-row: 1/2;
  justify-self: center;
  align-self: center;
}
.box3{
  grid-column: 3/4;
  grid-row: 1/3;
}
.box4{
  grid-column: 1/3;
}
.execute_btn{
  padding:1em;
  width:4em;
  height:4em;
  margin-bottom: 1em;
}
.center_feild{
  margin: 0;
  position: relative;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.link_decor{
  padding: 5px;
  border: 1px solid black;
  background-color: lightgrey;
  text-decoration: none;
  color: black;
}
.button_decor{
  border: none;
}

table, th, td {
  border: 1px solid black;
}
div.scroll {
  background-color: white;
  border:1px solid black;
  width: 100%;
  height: 20em;
  overflow: scroll;
}
/*****************************************************************************************************
//CSS For css modal*/

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
  margin: 10% auto;
  width: 70%;
  box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 7px 20px 0 rgba(0, 0, 0, 0.17);
}

.modal-header h2,
.modal-footer h3 {
  margin: 0;
}
.modal-footer {

  padding: 10px;
  color: #fff;
  text-align: center;
}
.modal-header {
  padding: 15px;
  color: #fff;
}

.modal-body {
  padding: 10px 20px;
  background: #fff;
}


.close {
  margin-bottom: 2em;
  color: white;
  float: right;
  font-size: 30px;
}
.close_btn{
  width:4em;
  height:2em;
}

.close:hover,
.close:focus {
  color: rgb(94, 87, 87);
  text-decoration: none;
  cursor: pointer;
}
.modal_wrapper{
  display: grid;
  grid-template-columns:1fr 2fr;
  grid-gap:1em;
}
.modal-footer{
  grid-column: 1/3;
  grid-row: 2/3;
}