 body{         background-color:  lightyellow;
              margin: 0;
      }
     p{
                	color:brown;
                	font-size:130%;
      }
    h1{           color:darkred;
      }

table{ 
    	         border-collapse: collapse; 
               border-spacing: 0;
               margin-right:150px;
               height: 30vh;             
      }
      
    td{     text-align:center;
            border: solid 1px black;
            cursor:pointer;
            padding: 10px;
      }
    th{
            color:black;
            padding:10px;
      }
tr:not(:last-child) td{
                        padding-top: 2px 
                      }
.selected {
            background-color: pink;
            color: #FFF;
}
.button {
          background-color:crimson;
          border: none;
          color: white;
          padding: 20px;
          text-align: center;
          text-decoration: none;
          display: inline-block;
          font-size: 15px;
          margin-left: 30px;
          cursor: pointer;
        }
.foo
{
    margin-left:10px;
}

li:hover 
{
    cursor: pointer;
}    
 tr
 { 
        border-top-left-radius: 10px; 
}
.UI{
    margin-right: 160px;
}

