<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html lang="en" xml:lang="en" xmlns="http://www.w3.org/1999/xhtml"><head><!--Google Tag Manager--><script class="gtm">(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-W59SWTR');</script><!--End Google Tag Manager-->
  <meta content="text/html; charset=utf-8" http-equiv="content-type"/>
  <title>{{=response.title or URL()}}</title>
  </head><body><!--Google Tag Manager (noscript)--><noscript class="gtm"><iframe height="0" src="https://www.googletagmanager.com/ns.html?id=GTM-W59SWTR" style="display:none;visibility:hidden" width="0"></iframe></noscript><!--End Google Tag Manager (noscript)-->{{response.files.append(URL('static','styles.css'))}}
  {{include 'web2py_ajax.html'}}
  <script>jQuery.noConflict();</script>

<body{{if 'direction:="" class="RTLbody" ltr')="=" rtl':}}="" t('direction:="" {{pass}}="">
<div id="header">
 <div class="fixed" id="header_inner">
   <div id="logo">
     <h1><a href="http://www.web2py.com">[web2py<sup style="font-size:0.5em;">TM</sup>]</a></h1>
     <h2>{{=response.subtitle}}</h2>
   </div>
   {{if response.menu is not None:}}
   <div id="menu">
   <ul>
    {{for _name,_active,_link in response.menu:}}
     <li><a _active:}}class="inactive" href="{{=_link}}" not="" onmouseout="this.style.backgroundColor=this.ccc;" onmouseover="this.ccc=this.style.backgroundColor;this.style.backgroundColor='white';" {{if="" {{pass}}="">{{=_name}}</a></li>
     {{pass}}
   </ul>
   </div>
   {{pass}}
  </div>
</div>
<div id="main">
  <div class="fixed" id="main_inner">
    <div id="primaryContent_columnless">
      <div id="columnA_columnless">
        <div class="flash">{{=response.flash or ''}}</div>
        {{include}}
      </div>
    </div>
  </div>
</div>
<div class="fixed" id="footer">
   {{=T('Powered by')}} <a href="http://www.web2py.com">web2py</a> ({{=T('TM')}}) {{=T('created by')}} Massimo Di Pierro © 2007
</div>


</body{{if></body></html>