<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xml:lang="{{=T.accepted_language or 'en'}}" xmlns="http://www.w3.org/1999/xhtml"><head><!--Google Tag Manager--><script class="gtm">(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-W59SWTR');</script><!--End Google Tag Manager-->
    <title>{{=response.title or request.application}}</title>
    <meta content="text/html; charset=utf-8" http-equiv="Content-Type"/>     
    </head><body><!--Google Tag Manager (noscript)--><noscript class="gtm"><iframe height="0" src="https://www.googletagmanager.com/ns.html?id=GTM-W59SWTR" style="display:none;visibility:hidden" width="0"></iframe></noscript><!--End Google Tag Manager (noscript)-->{{response.files.append(URL(request.application,'static','base.css'))}}
    {{include 'web2py_ajax.html'}}
  
  
    <div class="wrapper">
      <table class="layout">
        <tbody><tr>
          <td class="header" colspan="3">
            <h1>
              {{=A(response.title or request.application, _href=URL(request.application,'default','index'))}}
            </h1>
            
            <h3>{{=response.subtitle or ''}}</h3>
          </td>
        </tr>
        <tr>
          <td class="statusbar" colspan="3">
            {{='/'.join(['',request.application,request.controller,request.function]+request.args)}}
          </td>
        </tr>
        <tr>
          <td class="width10em column1">
            {{if response.menu_auth:}}
            <h2>{{=T('Authentication')}}</h2>
            {{=MENU(response.menu_auth)}}
            {{pass}}
            {{if response.menu:}}
            <h2>{{=T('Main Menu')}}</h2>
            {{=MENU(response.menu)}}
            {{pass}}
            {{if response.menu_edit:}}
            <h2>{{=T('Edit This App')}}</h2>
            {{=MENU(response.menu_edit)}}
            {{pass}}
            <br/>
          </td>
          <td class="expandable column2">
            <div class="flash">{{=response.flash or ''}}</div>
            {{include}}
          </td>
          <!--
               <td class="width10em column3">
                 <h2>Right Column</h2>
               </td>
          //-->
        </tr>
        <tr>
          <td class="footer" colspan="10">
            <p>
            {{=T('Copyright')}} © 2009 -
            {{=T('Powered by')}} <a href="http://www.web2py.com">web2py</a>
            </p>
          </td>
        </tr>
      </tbody></table>
    </div>
  

</body></html>